@font-face {
  font-family: montserratFont;
  /* src: url("./assets/fonts/DMSans-Regular.ttf"); */
}
@font-face {
  font-family: headerFont;
  /* src: url("./assets/fonts/Poppins-ExtraBold.ttf"); */
}


.displayDesktop {
  display: contents;
}
.displayDesktopBlock {
  display: block;
}
.displayMobile, .displayMobileBlock {
  display: none;
}

html, body {
  /* height: 100%;
  margin: 0; */
  padding: 0;
  /* font-family: montserratFont; */
  text-align: center;
  /* background-color: #090212; */
  overflow-x: hidden;
  color: white;
}
body {
  background-image: linear-gradient(to right, #558dc3, #be4947, #9ec640);
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  /* min-height: 100%;
  width: 100%; */
}

.App {
  /* background-image: linear-gradient(#54096c, #37085d, #090212); */
}

.logoimage {
  max-width: 400px;
}

.connectButtonCol {
  display: flex;
  justify-content: end;
  padding-right: 4rem;
  align-items: center;
}

.home {
  margin-top: 5vh;
}

.cardPool{
  min-height: 300px;
  width: 250px;
  color: white;
  padding: 1rem;
}

.cardRow {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer {
  position: absolute;
  bottom: 0%;
  left: 1%;
  padding: 1rem;
}

.footerLogos{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footerIcon {
  width: 40px;
}

.connectButton {
  background-color: rgb(0, 0, 0, 0) !important;
  border: 4px solid black !important;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  height: 3rem;
}

.placeBetPopup {
  position: fixed;
  background-color: #212529;
  top : 30%;
  left : 35%;
  width: 30%;
  height: 40%;
  padding: 2rem;
  border: 10px solid black;
}

.placeBetPopupBg {
  position: fixed;
  background-color: rgb(0.5, 0.5, 0.5, 0.5);
  top : 0;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 1199.98px){
  .displayDesktop, .displayDesktopBlock {
    display: none;
  }
  .displayMobile {
    display: contents;
  }
  .displayMobileBlock {
    display: block;
  }
}
