@font-face {
  font-family: montserratFont;
  /* src: url("./assets/fonts/DMSans-Regular.ttf"); */
}
@font-face {
  font-family: headerFont;
  /* src: url("./assets/fonts/Poppins-ExtraBold.ttf"); */
}


.displayDesktop {
  display: contents;
}
.displayDesktopBlock {
  display: block;
}
.displayMobile, .displayMobileBlock {
  display: none;
}

html, body {
  /* height: 100%;
  margin: 0; */
  padding: 0;
  font-family: montserratFont;
  text-align: center;
  /* background-color: #090212; */
  overflow-x: hidden;
  color: white;
}
body {
  background-image: linear-gradient(to right, #558dc3, #be4947, #9ec640);
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  /* min-height: 100%;
  width: 100%; */
}

.App {
  /* background-image: linear-gradient(#54096c, #37085d, #090212); */
}

.logoimage {
  max-width: 400px;
}

.home {
  margin-top: 5vh;
}

.cardPool{
  min-height: 300px;
  width: 250px;
  color: white;
  padding: 1rem;
}

.cardRow {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer {
  position: absolute;
  bottom: 0%;
  left: 1%;
  padding: 1rem;
}

.footerLogos{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footerIcon {
  width: 40px;
}



@media only screen and (max-width: 1199.98px){
  .displayDesktop, .displayDesktopBlock {
    display: none;
  }
  .displayMobile {
    display: contents;
  }
  .displayMobileBlock {
    display: block;
  }
}
